/*
!/.*

.aws
.azure
.bash_history
.bash_logout
.bashrc
.motd_shown
.profile
.sudo_as_admin_successful
.wget-hsts
.lesshst
.cache/
.docker/
.kube/
.minikube/
.vscode-server/
.dotnet
.config/helm
.config/k9s
.config/gh
.local/state